body {
    margin: 0px;
    padding: 0px;
}

.formbox {
    height: 1000%;
    width: 95%;
    background-color: rgb(240, 239, 243);
    margin-left: 450px;
    margin-top: 50px;
    border: 1px solid rgb(145, 139, 139);
    width: 250px;
    height: 310px
}

.loginform {
    font-size: 25px;
    margin-left: 20px;
}

.loginfillup p {
    margin-left: 10px;
    margin-top: 5px;
}

.logemail {
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: 10px;
    border-color: rgb(240, 64, 5);
}

.logemail.hover {
    cursor: pointer;
    border: none;
    background: rgb(207, 34, 34);
}

.logpassword {
    width: 200px;
    height: 20px;
    margin-left: 10px;
    border-color: rgb(163, 173, 184)
}

.box {
    margin-left: 20px;
}

.Remember span {
    margin-left: 2px;
}

.log {
    width: 100px;
    height: 25px;
    margin-left: 75px;
    background-color: rgb(243, 79, 14);
}

.createaccount {
    width: 200px;
    height: 25px;
    margin-left: 30px;
    margin-top: -14px;
    background-color: rgb(143, 143, 202);
}